<div class="container">
    <div class="row  mt-2 px-3 py-3">
        <div class="col-12 shadow radius ">
            <h1 class="text-center pt-4  text-danger fw-bold">About us</h1>
            <div class="row">
                <div class="col px-0">
                    <div class="border-line "></div>
                    <div class="row mx-auto mt-3">
                        <div class="col-12  px-md-5">
                            <div class="font row px-3">
                                <p>It is Shidhivinayak times It's a digital channel. Which supports
                                    true independent, fair, and fearless journalism. Shidhivinayak, Editor-in-Chief
                                </p>
                                <div class="row">
                                    <div class="col-5 w-auto">
                                        <span> Twitter-
                                        </span>
                                    </div>
                                    <div class="col">
                                        <a [href]="aboutdata?.twitter" class="text-decoration-none ms-4"
                                            target="_blank">{{aboutdata?.twitter}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 w-auto">
                                        Facebook-
                                    </div>
                                    <div class="col">
                                        <a [href]="aboutdata?.facebook" class="text-decoration-none"
                                            target="_blank">{{aboutdata?.facebook}}</a>
                                    </div>
                                </div>
                                <p class="m-0">Shidhivinayak times is the online avatar of
                                    <strong>Shidhivinayak times

                                    </strong> Its motto is “Courageous Journalism of truth and Values”. The
                                    is Hindi digital News Channels and Hinglish Newspaper.
                                </p>

                                <p class="m-0">Catching early trends and pursuing them, in spite of the then popular
                                    opinion being to contrary, has helped shidhivinayak times get noticed in the
                                    cluttered
                                    landscape and win the trust of viewers.</p>

                                <p class="font_head m-0 mb-2 "><b>About</b> Shidhivinayak times</p>
                                <p class="font_head m-0"><b>Our Vision</b></p>
                                <p class="m-0 mb-2">To empower people through information and influence lives positively…
                                </p>
                                <p class="font_head  m-0"><span><strong>Our Values</strong></span></p>
                                <p>To practice integrity by acting and taking decisions in a manner that is fair and
                                    honest, while being Independent and Courageous Journalism. To respect all internal
                                    and external stakeholders while listening to multiplicity
                                    of voices and value cultural diversity and differences. To grow profitably,
                                    consistently, ethically & honestly.</p>

                                <p class="font_head  m-0"><b>Environmental Sustainability</b></p>

                                <p>To grow profitably, consistently, ethically & honestly.</p>
                                <p class="m-0"><b>Contact us :</b><span><a class="text-decoration-none ms-3"
                                            href="tel:{{aboutdata?.phone}}">{{aboutdata?.phone}}</a></span></p>
                                <p class="m-0 text d-flex edit_text"><strong>
                                        Editor:
                                    </strong>
                                    <span class="ms-2">{{aboutdata?.editor}}</span>
                                </p>
                                <!-- <p class="m-0 text"><b>siddhivinayak</b></p> -->
                                <!-- <p class="m-0 text"><b>Shidhivinayaktimes</b></p> -->
                                <!-- <p class="m-0 text"><b>#255/1 Samadhi Gate, Old Ropar Road, Sector-13</b></p>
                                <p class="m-0 text"><b>Manimajra, Chandigarh – 160101</b></p>
                                <p class="m-0 text mt-1 mt-md-4"><b>Phone- <a href="tel:172 4172241"
                                            class="text-decoration-none text-dark">+91 172 4172241</a></b></p> -->
                                <div class="row">
                                    <div class="col-auto w-auto">
                                        <b>Email :</b>
                                    </div>
                                    <div class="col p-0">
                                        <p class="m-0"><a class=" m-0 text-decoration-none" target="_blank"
                                                href="mailto:{{aboutdata?.email}}">{{aboutdata?.email}} </a> <span
                                                class="text-dark">(Himachal)</span>,</p>
                                        <p class="m-0"><a class="m-0 text-decoration-none" target="_blank"
                                                href="mailto:{{aboutdata?.email1}}">{{aboutdata?.email1}} </a>
                                            <span>(Chandigarh,
                                                Punjab , Harayana, India, Abroad)</span>
                                        </p>
                                    </div>
                                </div>
                                <!-- <p class="m-0 text d-flex flex-column flex-md-row">
                                    <span class="d-flex  align-items-center text-decoration-none"><b>Email :</b>

                                    </span> -->

                                <!-- <a href="" target="_blank" class="mx-auto ms-md-2">XYZ@gmail.com</a> -->
                                <!-- <p class="m-0 text d-flex flex-column flex-md-row"><span
                                        class="d-flex align-items-center"><b>Second Email :</b><a
                                            class="ms-2 text-decoration-none"
                                            href="Sidhivianayaktimes.Chd@Gmail.Com">{{aboutdata?.email1}}</a></span> -->
                                <!-- <a href="" target="_blank" class="mx-auto ms-md-2">XYZ@gmail.com</a> -->
                                <!-- </p> -->
                                <!-- <p class="m-0 text d-flex flex-column flex-md-row"><span
                                        class="d-flex align-items-center"><b>Email-</b><a href="" target="_blank"
                                            class="ms-3">Siddhivinayaktimes@gmail.com,</a></span>
                                    <a href="" target="_blank" class="mx-auto ms-md-2">XYZ@gmail.com</a>
                                </p> -->
                                <p class="m-0 text"><b>Twitter :</b>
                                    <a [href]="aboutdata?.twitter" target="_blank" class="ms-2"
                                        class=" text ms-2 text-decoration-none">{{aboutdata?.twitter}}</a>,
                                </p>
                                <p class="m-0  text mb-5"><b>Facebook :</b>
                                    <a [href]="aboutdata?.facebook" target="_blank" class="ms-2"
                                        class="text-pri ms-2 text-decoration-none">{{aboutdata?.facebook}}</a>,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>